.app-header{
    color: white;
    height: 40px;
    padding: 0 4px;
    background-color: rgba(0,0,0,.32);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'btns logo login';
    // @include for-narrow-layout {
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-template-areas: 'logo logo btns login';
    // }
    @include for-normal-layout {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'logo logo btns login';
    }
    h1 {
        font-family: Monoton;
        font-size: rem(30px);
        grid-area: logo;
        justify-self: center;
        align-self: center;
        @include for-narrow-layout {
            // justify-self: left;
            font-size: rem(20px);
            // margin-left: 4px;
        }
        @include for-normal-layout {
            justify-self: left;
            font-size: rem(22px);
            margin-left: 4px;
        }
    }
    .btns{
        grid-area: btns;
        align-self: center;
    }
    i {
        font-size: rem(20px);
        color:white;
        font-weight: 400;
        text-align: center;
        margin: 4px;
        transition: .2s;
    }
    .login{
        grid-area: login;
        justify-self: right;
        align-self: center;
    }
    a, .logout {
        font-weight: 500;
        color: white;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 5px;
        margin: 4px;
        border-radius: 3px;
        transition: .2s;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
        @include for-narrow-layout {
            font-weight: 400;
            font-size: rem(14px);
        }
    }
    .logout {
        grid-area: login;
        font-weight: 600;
        padding: 5px;
        font-family: inherit;
        font-weight: 500;
        font-size: rem(16px);
    }
    .user-header {
        display: flex;
        align-items: center;
    }
}