.board-topic{
    background-color: #ebecf0;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    // z-index: 2;
    
    .topic-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin: 0 4px 0 8px;
        h2{
            font-weight: 600;
            padding: 4px 8px;
        }
        button.close{
            color: #6b778c;
            padding: 7px 8px;
            margin: 5px 4px;
            border-radius: 3px;
            transition: .2s ease-in;
        }
        button.close:hover{
            background-color: rgba(9,30,66,.08);
        }
        .topic-menu{
            display: flex;
            flex-direction: column;
            // align-items: end;
            position: absolute;
            top: 32px;
            right: -60px;
            z-index: 3;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
            min-width: 150px;
            h3{
                border-bottom: 1px solid rgba(9,30,66,.13);
                text-align: center;
                padding: 0 12px 0 6px;
                color: #5e6c84;
                margin: 0 12px 5px;
                font-size: rem(16px);
                line-height: rem(40px);
                cursor: context-menu;
            }
            .close-menu{
                position: absolute;
                top: 4px;
                right: 4px;
                z-index: 3;
                color: #6b778c;
                padding: 6px 8px;
                border-radius: 3px;
            }
            button{
                display: block;
                padding: 6px 12px;
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
                font-size: rem(14px);
                line-height: rem(20px);
                color: #172b4d;
                z-index: 3;
                text-align: left;
            }
            button:last-of-type{
                margin-bottom: 5px;
            }
            button:hover{
                background-color: rgba(9,30,66,.04);
            }
            input{
                width: 134px;
                margin: 2px 8px;
                border-radius: 3px;
                border: none;
                background-color: #ebecf0;
                padding: 5px 10px;
                color: inherit;
                font-family: inherit;
                font-size: rem(14px);
            }
        }
    }
    .topic-main{
        margin: 0 4px;
        padding: 0 4px;
        // For inner scrollbar:
        overflow-x: hidden;
        // overflow-y: auto;
        max-height: 75vh;
        &::-webkit-scrollbar {
            width: 8px;
        }
    }
    .topic-footer{
        transition: 0.2s;
        margin: 0px 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        min-height: 28px;
        transition: .2s ease-in;
        p{
            width: 100%;
            height: 100%;
            cursor: pointer;
            padding: 6px;
            transition: .2s ease-in;
        }
        p:hover{
            background-color: rgba(9,30,66,.08);
            border-radius: 3px;
        }
        textarea{
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
            border: none;
            font-family: inherit;
            padding: 6px 8px 2px;
            font-size: 16px;
            margin-bottom: 8px;
            transition: .2s ease-in;
            color: #172b4d;
        }
        .btns{
            display: flex;
            justify-content: space-between;
        }
        button{
            border-radius: 3px;
            font-family: inherit;
            font-weight: 400;
            transition: .2s ease-in;
        }
        button.add{
            padding: 6px 12px;
            color: #fff;
            background-color: #beb7b7;
            width: 86%;
            font-size: rem(15px);
        }
        button.add:hover{
            padding: 6px 12px;
            background-color: #c5c3c3;
        }
        button.close{
            font-size: rem(21px);
            color: #6b778c
        }
        button.close:hover{
            color: #46484b
        }
    }
    
}
// drag'n'drop:
.card-ghost {
   transition: transform 0.18s ease;
   transform: rotateZ(5deg);
   cursor: grabbing;
}

.card-ghost-drop {
   transition: transform 0.18s ease-in-out;
   transform: rotateZ(0deg);
}
.drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    margin: 5px;
}
