.board-list {
    li {
        border: 1px solid black;
        margin: 10px;
    }
    .board-img, .board-bgc {
        width: 250px;
        height: 200px;
    }
}

.add-name-modal {
    position: absolute;
	background: #fff;
    border-radius: 3px;
	box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
	overflow: hidden;
	top: 40%;
	right: 40%;
	width: 300px;
	min-height: 100px;
    padding: 12px;
}