.board-topic{
    background-color: #ebecf0;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;

    .topic-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin: 0 4px;
        h2{
            font-weight: 600;
        }
        button.close{
            color: #6b778c;
            padding: 10px;
        }
        .topic-menu{
            position: absolute;
            top: 32px;
            right: 8px;
            z-index: 2;
            background-color: #fff;
            box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
            h3{
                border-bottom: 1px solid rgba(9,30,66,.13);
                text-align: center;
                padding: 6px 12px;
                color: #5e6c84;
                margin: 0 12px;
            }
            .close-menu{
                position: absolute;
                top: -2px;
                right: -5px;
                z-index: 3;
            }
            button{
                display: block;
                padding: 6px 12px;
                font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
                font-size: rem(16px);
                color: #172b4d
            }
            input{
                width: 104px;
                margin: 6px 12px;
            }
        }
    }
    .topic-main{
        margin: 0 4px;
        padding: 0 4px;
    }
    .topic-footer{
        transition: 0.2s;
        margin: 0px 8px 8px;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        min-height: 28px;
        p{
            width: 100%;
            height: 100%;
            cursor: pointer;
            padding: 6px;
        }
        p:hover{
            background-color: rgba(9,30,66,.08);
            border-radius: 3px;
        }
        textarea{
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
            border: none;
            font-family: inherit;
            padding: 6px 8px 2px;
            font-size: 16px;
            margin-bottom: 8px;
        }
        .btns{
            display: flex;
            justify-content: space-between;
        }
        button{
            border-radius: 3px;
            font-family: inherit;
            font-weight: 400;
            transition: .2s;
        }
        button.add{
            padding: 6px 12px;
            color: #fff;
            background-color: #beb7b7;
            width: 86%;
            font-size: rem(15px);
        }
        button.add:hover{
            padding: 6px 12px;
            background-color: #d8d1d1;
        }
        button.close{
            font-size: rem(21px);
            color: #6b778c
        }
        button.close:hover{
            color: #46484b
        }
    }
    
     // drag'n'drop:
     .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg);
        cursor: grabbing;
    }
    
    .card-ghost-drop {
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg);
    }
}