.board-menu {
    visibility: visible;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    height: 100vh;
    background-color: white;
    transform: translateX(0%);
    transition: transform 1s;
    .board-menu-nav{
        display: flex;
    flex-direction: column;
    }
}