.card-label-edit{
    li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
    }
    button.label{
        padding: 6px 12px;
        border-radius: 3px;
        min-height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}