.card-attachments {
    margin-bottom: 8px;
    i.el-icon-paperclip{
        font-size: 22px;
        font-weight: 500;
        display: inline-block;
        margin-right: 13px;
        &::before{
            vertical-align: middle;
        }
    }
    h2 {
        line-height: rem(20px);
        font-size: rem(16px);
        font-weight: 600;
    }
    ul{
        max-width: 100%;
        white-space: pre-wrap;
        margin-left: 35px;
        li{
            display: inline-block;
            position: relative;
            margin-right: 4px;
            img {
                max-width: 200px;
                display: inline-block;
            }
            button{
                display: none;
                position: absolute;
                right: 4px;
                background-color: #e4e4e499;
                border-radius: 3px;
                font-size: 16px;
                padding: 2px 4px;
                top: 4px;   
            }
            &:hover{
                button{
                    display: block;
                }
            }
        }
    }
}