.card-preview {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
	min-height: 32px;
	padding: 6px 8px 2px;
	margin-bottom: 8px;
	overflow: hidden;
    white-space: break-spaces;
    // transition: .2s ease-in;
	h2 {
		display: block;
		margin-bottom: 4px;
		line-height: rem(20px);
		color: #172b4d;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	button{
		display: none;
		border-radius: 3px;
		font-size: 16px;
		padding: 2px 4px;
		position: absolute;
		right: 6px;
		color: #6b778c;
		transition: .2s ease-in;
	}
	a {
		color: rgb(23, 43, 77);
		display: block;
		white-space: normal;
		&,
		&::after,
		&::before {
			-webkit-user-select: none;
			-webkit-user-drag: none;
			-webkit-app-region: no-drag;
		}
	}
	p{
		margin-right: 10px;
		color: #6b778c;
	}
	.card-label {
		border-radius: 4px;
		overflow: hidden;
		height: 8px;
		width: 40px;
		margin: 0 4px 4px 0;
		display: inline-block;
	}
}
.card-preview:hover{
	background-color: hsla(0,0%,100%,.5);
	button{
		display: block;
	}
	button:hover{
		background-color: rgba(9, 30, 66, 0.08);
	}
}
