.card-edit-modal {
	position: absolute;
	background: #fff;
    border-radius: 3px;
	box-shadow: 0 8px 16px -4px rgba(9,30,66,.25), 0 0 0 1px rgba(9,30,66,.08);
	overflow: hidden;
	top: 50px;
	left: 275px;
	width: 300px;
	min-height: 100px;
	padding: 0 12px 12px;
	@include for-normal-layout{
		left: calc(100% - 375px)
	}
	header{
		padding: 0 32px;
		font-size: rem(14px);
		line-height: 40px;
		border-bottom: 1px solid rgba(9,30,66,.13);
		text-align: center;
		margin-bottom: 7px;
		color: #5e6c84;
		button{
			position: absolute;
			top: 0;
			right: 0;
			padding: 12px;
			z-index: 2;
			font-size: rem(16px);
			color: #6b778c;
			&:hover{
				color: #172b4d;
			}
		}
		[name]{
			padding: 0 32px;
		}
	}
	
		// input{
		// 	margin: 4px 4px 12px 0;
		// 	width: 100%;
		// 	background-color: #fafbfc;
		// 	border: none;
		// 	box-shadow: inset 0 0 0 2px #dfe1e6;
		// 	color: #172b4d;
		// 	border-radius: 3px;
		// 	line-height: 20px;
		// 	padding: 8px 12px;
		// 	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
		// 	font-size: rem(14px);
		// }
		// button{
		// 	padding: 7px 12px;
		// 	color: #fff;
		// 	font-weight: 400;
		// 	line-height: 20px;
		// 	border-radius: 3px;
		// 	background-color: rgba(9, 30, 66, 0.3);
		// 	font-family: inherit;
		// }
}