.card-checklist {
  position: relative;
  margin-bottom: 10px;
  &:hover {
    button.remove-checklist {
       display: flex;
    }
  }
  i.el-icon-finished {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    margin-right: 1px;
    &::before {
      vertical-align: middle;
    }
  }
  input[type='text'].checklist-name {
    line-height: rem(20px);
    font-size: rem(16px);
    font-weight: 600;
    margin: 0 0 0 11px;
    padding: 5px 12px 5px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606060;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: rgba(9, 30, 66, 0.04);
    }
    &:focus {
      background-color: white;
      cursor: initial;
    }
  }
  li {
    margin-left: 35px;
    padding: 0 5px;
    display: flex;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    &:hover {
      &:not(:focus-within){
        background-color: rgba(9, 30, 66, 0.04);
      }
      button {
        display: flex;
      }
    }
  }
  input[type='text'] {
    font-size: rem(14px);
    color: #172b4d;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    border: none;
    width: 89%;
    padding: 5px;
    &:hover:focus {
      cursor: initial;
    }
    &:focus {
      background-color: white;
    }
    &.add-task {
      border-radius: 3px;
      margin: 0 0 5px 35px;
      background-color: rgba(9, 30, 66, 0.04);
      padding: 6px 12px;
      width: 100px;
      &:hover {
        background-color: rgba(9, 30, 66, 0.08);
      }
      &:focus {
        background-color: white;
        width: -webkit-fill-available;
        cursor: text;
      }
    }
  }
  input[type='checkbox'] {
    margin: 0 7px 0 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  button {
    position: absolute;
    right: 0;
    display: none;
    font-size: rem(16px);
    color: inherit;
  }
  input.add-task::placeholder {
    color: #172b4d;
  }
  .progress {
    margin-left: 40px;
    display: flex;
    align-items: center;
    padding: 4px 0;
    span {
      width: 45px;
    }
    & div {
      background-color: gray;
      height: 10px;
      width: 100%;
      border-radius: 5px;
      & div {
        transition: width .14s ease-in,background-color .14s ease-in;
        background-color: #5ba4cf;
      }
      .completed {
        background-color: #03b103;
      }
    }
  }
}