.dashboard {
    .el-icon-close {
            float: right;
            margin: 2px 5px;
            font-size: 22px;
            font-weight: 500;
            cursor: pointer;
            &::before{
                vertical-align: middle;
            }
    
    }
}

.charts {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    text-align: center;
    h2 {
        font-weight: bold;
        margin: 20px;
        font-size: 20px;
    }
}

.dashboard-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 80vh;
    margin-top: -40vh; /* Negative half of height. */
    margin-left: -45vw; /* Negative half of width. */
    background-color: white;
    z-index: 10;
    overflow-y: auto;
    border-radius: 3px;
}
.facts {
    display: flex;
    .info-box {
        display: flex;
        align-items: center;
        i {
            font-size: rem(35px);
        }
        .info {
            display: flex;
            flex-direction: column;
            text-align: center;
            h4 {
                font-size: 20px;
                font-weight: bold;
            }
            p {
                text-transform: uppercase;
                font-size: 14px;
            }
        }
    }

}