.delete-modal{
position: fixed;
top: 30%;
left: 30%;
background-color: white;
height: 20vh;
border-radius: 3px;
z-index: 3;
flex-direction: column;
display: flex;
justify-content: center;
box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);

h5 {
    display: block;
    padding: 10px 20px;
    color: #172b4d;
    font-weight: 600;
    margin-bottom: 20px;
}
.btns {
    display: flex;
    justify-content: center;
    padding: 8px;
    .cancel-btn, .delete-btn {
        padding: 8px;
        font-size: 1rem;
        color: white;
        border-radius: 3px;
        margin: 5px;
    }
    .cancel-btn {
        border: 1px solid  #6b778c;
        color:  #6b778c;
        width: 82px;
    }
    .delete-btn {
        background-color: #ec9488;
    }
}
}