.image-picker {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img {
        width: 140px;
        height: 100px;
        margin: 5px;
    }
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        // background-color: transparent;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0,0,0,.2);
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: transparent;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}