.board-details{
    height: calc(100vh - 40px);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: lightskyblue;
    .topic-wrapper{
        width: 272px;
        margin: 0 4px;
        max-height: 100%;
        // display: inline-block;
    }
    .add-topic{
        background-color: hsla(0,0%,100%,.24);
        padding: 6px 8px;
        color: white;
    }
    .menu-btn {
        float: right;
    }


    // drag'n'drop
    .grab {
        cursor: grabbing;
    }
    .drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        margin: 5px;
    }
}
